.facts {
  background-color: #edf6ff;
  padding-top: 140px;
  padding-bottom: 65px; }
  .facts__heading {
    max-width: 445px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3.13rem;
    letter-spacing: 0;
    line-height: 1;
    color: #192b59; }
    .facts__heading span {
      display: block;
      margin-bottom: 30px;
      color: #1085e4;
      font-size: 1rem;
      letter-spacing: 2.7px;
      text-transform: uppercase; }
  .facts__figures {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .facts__item {
    list-style-type: none;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #1085e4;
    font-weight: 700; }
    .facts__item span {
      display: block;
      margin-bottom: 20px;
      font-size: 3.75rem;
      letter-spacing: 0;
      color: #cbdbe8; }
