a {
  text-decoration: none; }

.btn-primary {
  padding: 20px 40px;
  background-color: #1085e4;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #1085e4;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 2.5px;
  font-weight: 700px; }
  .btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
    border: 1px solid #1085e4; }

.btn-secondary {
  padding: 20px 40px;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
  border-radius: 30px;
  color: #7e8bae;
  font-size: 0.75rem;
  letter-spacing: 2.5px;
  font-weight: 700px;
  text-transform: uppercase; }
  .btn-secondary:hover {
    background-color: transparent;
    border: 1px solid #739ec1;
    color: #739ec1; }

.button {
  font-weight: 400;
  letter-spacing: 1.7px;
  text-decoration: none;
  padding: 20px 56px; }

.header-btn a + a {
  margin-left: 15px; }

.grid h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #192b59;
  text-transform: capitalize; }

.grid h2 span {
  display: block;
  color: #1085e4;
  font-size: 0.88rem;
  text-transform: uppercase; }

.grid-item h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #192b59; }

.grid-item a {
  color: #1085e4;
  font-size: 0.88rem;
  font-weight: 600;
  text-transform: capitalize; }

.section__box {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto; }

.section__heading {
  text-align: center;
  font-size: 3.13rem;
  letter-spacing: 0;
  line-height: 1;
  color: #192b59; }
  .section__heading span {
    display: block;
    margin-bottom: 30px;
    color: #1085e4;
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-transform: uppercase; }
